VITE_APP_TITLE="vite-starterkit"
VITE_APP_DESCRIPTION="Your description here."
VITE_SITE_URL="https://yourdomain.com"
VITE_TWITTER_HANDLE="@yourhandle"
VITE_THEME_COLOR_LIGHT="#ffffff"
VITE_THEME_COLOR_DARK="#0a0a0a"
